<body>
  <!-- MENU BAR -->
  <header>
    <img
      class="logo-header"
      src="../../../assets/images/logo.svg"
      alt="logo-header"
    />
    <nav>
      <ul class="nav-list">
        <li class="nav-resource"><a href="#login">Login</a></li>
        <li class="nav-resource"><a href="#nosotros">Nosotros</a></li>
        <li class="nav-resource"><a href="#equipo">Equipo</a></li>
        <li class="nav-resource" id="nav-contact">
          <a href="http://localhost:4200/dashboard">login</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container-landing">
    <section class="section-init">
      <div class="section-init-info">
        <p class="section-init-inf__title">
          Listo para dar el paso a un nuevo idioma
        </p>
        <a href="#" class="section-init-inf__title-contact">Unete a nosotros</a>
        <p>
          aprendizaje de idiomas enfocados en niños de 9 a 15 años sin animo de
          lucro
        </p>
        <div class="section-init-inf__title-contact-cell"></div>
      </div>
      <div class="landing-init-img"></div>
    </section>

    <section class="section-2 nosotros">
      <div class="section-2__info">
        <h2>La mejor plataforma de <strong>Clases de idioma</strong></h2>
        <p>
          Polyglokids es una aplicación digital de aprendizaje de idiomas
          diseñada especialmente para niños.
        </p>
      </div>
      <div class="section-2__img"></div>
    </section>

    <section class="section-3 Equipo">
      <h2>Nuestro Equipo</h2>
      <div class="section-3__cart-container">
        <div class="card">
          <div class="content">
            <span></span>
            <div class="img">
              <img src="../../../assets/images/img1.jpg" alt="" />
            </div>
            <h4>Roberto Matinez</h4>
            <h6>Software Engineer</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              quae accusamus deserunt ducimus repellendus odio similique
              asperiores, fuga voluptatum incidunt?
            </p>
          </div>
          <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <span></span>
            <div class="img">
              <img src="../../../assets/images/img1.jpg" alt="" />
            </div>
            <h4>Roberto Matinez</h4>
            <h6>Software Engineer</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              quae accusamus deserunt ducimus repellendus odio similique
              asperiores, fuga voluptatum incidunt?
            </p>
          </div>
          <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <span></span>
            <div class="img">
              <img src="../../../assets/images/img1.jpg" alt="" />
            </div>
            <h4>Roberto Matinez</h4>
            <h6>Software Engineer</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              quae accusamus deserunt ducimus repellendus odio similique
              asperiores, fuga voluptatum incidunt?
            </p>
          </div>
          <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <span></span>
            <div class="img">
              <img src="../../../assets/images/img1.jpg" alt="" />
            </div>
            <h4>Roberto Matinez</h4>
            <h6>Software Engineer</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              quae accusamus deserunt ducimus repellendus odio similique
              asperiores, fuga voluptatum incidunt?
            </p>
          </div>
          <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <span></span>
            <div class="img">
              <img src="../../../assets/images/img1.jpg" alt="" />
            </div>
            <h4>Roberto Matinez</h4>
            <h6>Software Engineer</h6>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              quae accusamus deserunt ducimus repellendus odio similique
              asperiores, fuga voluptatum incidunt?
            </p>
          </div>
          <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </section>

    <div class="ctn">
      <h2>Contactanos</h2>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />

        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required />

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

        <button type="submit">Enviar mensaje</button>
      </form>
    </div>
  </div>
</body>
