<div class="info-card-container">
  <h2>Informacion de la proxima clase</h2>

  <div class="info-class-calendary-container">
    <div class="info-meet-calendary-container">
      <div class="info-meet-calendary">
        <i class="fas fa-calendar-check"></i>
        <p>Fechas de del la clase :March 2nd, 2024 at 10:00 AM - 10:50 AM</p>
      </div>

      <div class="info-meet-calendary">
        <i class="fas fa-chalkboard-teacher"></i>
        <p>Profesor: Juanito Perez</p>
      </div>
      <div class="info-meet-calendary">
        <i class="fas fa-language"></i>
        <p class="">idioma: English</p>
      </div>

      <div class="info-meet-calendary">
        <i class="fas fa-chalkboard"></i>
        <p>Clases 2/10</p>
      </div>

      <div class="info-meet-calendary">
        <i class="fas fa-window-restore"></i>
        <p>Tema: Verb to be</p>
      </div>

      <div class="info-meet-calendary">
        <i class="fas fa-users"></i>
        <p>Numero de estudiantes: 10</p>
      </div>

      <div class="info-meet-calendary">
        <i class="fas fa-graduation-cap"></i>
        <p>Nivel de la clase</p>
      </div>
    </div>
    <div class="note-meet-calendary">
      <p>Nota: Na</p>
    </div>
  </div>

  <div class="card-info-external-resources">
    <p>
      Canal de Discor:
      <a
        href="https://discord.com/servers/anime-soul-discord-290843998296342529"
        >"https://discord.com/servers/anime-soul-discord-290843998296342529"
      </a>
    </p>

    <div>
      <p>
        Material de la clase<a
          href="https://discord.com/servers/anime-soul-discord-290843998296342529"
          >"https://discord.com/servers/anime-soul-discord-290843998296342529"
        </a>
      </p>
    </div>

    <p>
      Link de la reunion
      <a href="https://meet.google.com/phq-brvr-nbp">
        https://meet.google.com/phq-brvr-nbp</a
      >
    </p>
  </div>
</div>
