<ul class="list-group">
  <li class="list-group-users">
    <div class="container-contact-user">
      <img
        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
        alt=""
        class="contact-user-icon"
      />
      <div class="ms-3">
        <p class="fw-bold mb-1">John Doe</p>
        <span class="badge rounded-pill badge-success">Active</span>
      </div>
    </div>

    <div class="contact-options-icon">
      <div>
        <img src="../../../../assets/images/envelope-solid.svg" alt="" />
      </div>
      <div>
        <img src="../../../../assets/images/ellipsis-v-solid.svg" alt="" />
      </div>
    </div>
  </li>

  <li class="list-group-users">
    <div class="container-contact-user">
      <img
        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
        alt=""
        class="contact-user-icon"
      />
      <div class="ms-3">
        <p class="fw-bold mb-1">John Doe</p>
        <span class="badge rounded-pill badge-success">Active</span>
      </div>
    </div>

    <div class="contact-options-icon">
      <div>
        <img src="../../../../assets/images/envelope-solid.svg" alt="" />
      </div>
      <div>
        <img src="../../../../assets/images/ellipsis-v-solid.svg" alt="" />
      </div>
    </div>
  </li>
  <li class="list-group-users">
    <div class="container-contact-user">
      <img
        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
        alt=""
        class="contact-user-icon"
      />
      <div class="ms-3">
        <p class="fw-bold mb-1">John Doe</p>
        <span class="badge rounded-pill badge-success">Active</span>
      </div>
    </div>

    <div class="contact-options-icon">
      <div>
        <img src="../../../../assets/images/envelope-solid.svg" alt="" />
      </div>
      <div>
        <img src="../../../../assets/images/ellipsis-v-solid.svg" alt="" />
      </div>
    </div>
  </li>

  <li class="list-group-users">
    <div class="container-contact-user">
      <img
        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
        alt=""
        class="contact-user-icon"
      />
      <div class="ms-3">
        <p class="fw-bold mb-1">John Doe</p>
        <span class="badge rounded-pill badge-success">Active</span>
      </div>
    </div>

    <div class="contact-options-icon">
      <div>
        <img src="../../../../assets/images/envelope-solid.svg" alt="" />
      </div>
      <div>
        <img src="../../../../assets/images/ellipsis-v-solid.svg" alt="" />
      </div>
    </div>
  </li>

  <li class="list-group-users">
    <div class="container-contact-user">
      <img
        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
        alt=""
        class="contact-user-icon"
      />
      <div class="ms-3">
        <p class="fw-bold mb-1">John Doe</p>
        <span class="badge rounded-pill badge-success">Active</span>
      </div>
    </div>

    <div class="contact-options-icon">
      <div>
        <img src="../../../../assets/images/envelope-solid.svg" alt="" />
      </div>
      <div>
        <img src="../../../../assets/images/ellipsis-v-solid.svg" alt="" />
      </div>
    </div>
  </li>

  <li class="list-group-users">
    <div class="container-contact-user">
      <img
        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
        alt=""
        class="contact-user-icon"
      />
      <div class="ms-3">
        <p class="fw-bold mb-1">John Doe</p>
        <span class="badge rounded-pill badge-success">Active</span>
      </div>
    </div>

    <div class="contact-options-icon">
      <div>
        <img src="../../../../assets/images/envelope-solid.svg" alt="" />
      </div>
      <div>
        <img src="../../../../assets/images/ellipsis-v-solid.svg" alt="" />
      </div>
    </div>
  </li>
</ul>
